@import "../../Palette.scss";

.split-preview {
  font-size: 1rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 0.5rem;

  border: 2px solid $dark-200;
  border-radius: 0.5rem;
  padding: 1rem;

  width: 30rem;
  min-width: 30rem;
  max-width: 30rem;

  height: 13rem;
  min-height: 13rem;
  max-height: 13rem;

  .header {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.33em;
    font-weight: bold;
    height: 3rem;

    .name {
      cursor: pointer;
    }
  }

  .body {
    grid-row: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1em;
    font-weight: normal;
  }

  .footer {
    grid-row: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8em;
    font-weight: normal;
  }
}
