@import "../../Palette.scss";

.profile-workout-tabs-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .tabs-header {
    width: 100%;
    display: flex;
    gap: 1.5rem;
    padding: 0 1rem;

    .tab {
      width: fit-content;

      button {
        outline: none;
        border: none;
        background: none;

        font-size: 1.5rem;
        color: #fff;
        cursor: pointer;
      }

      .active-indicator {
        width: 100%;
        height: 3px;
        background-color: $primary-300;

        &.hidden {
          display: none;
        }
      }
    }
  }

  .tabs-body {
    width: 100%;
  }
}
