@import "../../../Palette.scss";

.privacy {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-200;
  border-radius: 0.5rem;
  transition: 0.3s;
  overflow-y: auto;
  width: 100%;
  max-height: 50rem;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $dark-200;
  }

  &::-webkit-scrollbar-thumb {
    background: $dark-500;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $dark-600;
  }

  & h3 {
    font-size: 2.8rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .privacy-save-button {
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: $primary-300;
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 10rem;
    cursor: pointer;
    margin-bottom: 3rem;

    &:hover,
    &:active {
      background-color: $primary-400;
    }
  }
}

.privacy-show {
  width: 80rem;
  height: 60rem;
  visibility: 0;
  opacity: 1;
  z-index: 1;
}

.privacy-container {
  display: flex;
  width: 80%;
  border: 1px solid $dark-400;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
}

.privacy-container-text {
  width: 85%;
  display: flex;
  flex-direction: column;

  & h3 {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
  }

  & p {
    font-size: 1.6rem;
    color: rgb(180, 180, 180);
  }
}

.privacy-container-text-header {
  display: flex;
  align-items: center;

  & .privacy-container-status-indicator {
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    width: 7rem;
    height: 2.5rem;
    border: 1px solid $primary-400;
    border-radius: 5rem;
    color: $primary-400;
    transition: 0.2s;
  }

  & .status-indicator-disabled {
    border-color: $dark-600;
    color: $dark-600;
  }
}

.privacy-container-button {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .privacy-container-button-background {
    position: relative;
    width: 6rem;
    height: 2.5rem;
    background-color: $primary-200;
    border-radius: 5rem;
    overflow: hidden;
    cursor: pointer;

    & .privacy-container-button-icon {
      z-index: 1;
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      background-color: white;
      border-radius: 50%;
      right: 0;
      transition: 0.4s;
    }

    & .privacy-container-button-tail {
      position: absolute;
      width: 8rem;
      height: 3rem;
      background-color: $dark-400;
      top: -0.25rem;
      right: -7rem;
      transition: 0.4s;
    }

    & .button-disabled {
      transform: translate(-3.5rem);
    }
  }
}
