.new-exercise-equipment-selection {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #fff;
  padding: 2rem 1rem 2rem 1rem;
}

.option {
  cursor: pointer;
  width: fit-content;

  &::before {
    content: "";
    display: block;
    width: 0;
    height: 0.2rem;
    background-color: #fff;

    transform: translate(0, 2.5rem);
    transition: 175ms;
    transition-timing-function: ease-in-out;
  }

  &:not(.selected):hover::before {
    width: 70%;
  }

  &.selected::before {
    width: 90%;
  }
}
