@import "../../Palette.scss";

.started-workout-container {
  position: relative;

  max-width: 75rem;
  width: 100%;
  height: 100rem;
  border-radius: 1rem;

  background-color: $dark-200;
  border: 3px solid $dark-200;
  padding-bottom: 3rem;

  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $dark-300;
  }

  &::-webkit-scrollbar-thumb {
    background: $dark-500;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $dark-600;
  }

  .started-workout-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 0 1rem;

    width: 100%;
    height: 8rem;
    margin-bottom: 2rem;

    h1 {
      position: relative;
      font-size: 2.8rem;
      font-weight: 700;
    }

    .save-button {
      padding: 0.7rem 1rem;
      min-width: 10rem;
      height: auto;
      border-radius: 0.5rem;

      position: absolute;
      right: 2rem;

      background-color: $primary-300;
      outline: none;
      border: none;

      color: #fff;
      font-size: 1.4rem;
      user-select: none;

      &:hover {
        cursor: pointer;
        background-color: $primary-400;
      }
    }
  }

  .started-workout-sets-container {
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    .started-workout-set {
      display: flex;
      flex-direction: column;

      max-width: 60rem;
      width: 100%;
      height: auto;
      min-height: 18rem;
      border-radius: 1rem;

      gap: 1rem;

      background-color: $dark-400;
      overflow: hidden;

      .started-workout-set-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        padding: 0 1rem;
        padding-top: 1rem;

        .started-workout-set-image-container {
          width: 6rem;
          height: 6rem;
          overflow: hidden;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          .started-workout-set-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        a {
          color: #fff;
          text-decoration: none;
          outline: none;

          h1 {
            font-size: 2rem;
            font-weight: 500;
          }

          &:hover,
          &:focus-visible {
            color: $primary-400;
          }
        }
      }

      .started-workout-set-seactions {
        width: 100%;

        display: flex;
        align-items: center;
        padding: 0 2rem;
        gap: 3rem;

        font-size: 1.4rem;
        font-weight: 500;
        color: #bbb;

        p {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 3rem;
        }

        .started-workout-set-seaction-2 {
          width: 15rem;
        }
      }

      .started-workout-set-body {
        height: 100%;

        > :nth-child(even) {
          background-color: $dark-300;
        }

        .started-set {
          display: flex;
          align-items: center;
          padding: 0 2rem;
          gap: 3rem;

          height: 5rem;

          p {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 3rem;
          }

          .complete-inputs {
            width: 17rem;
            display: flex;
            justify-content: center;
            align-items: center;

            input {
              width: 5rem;
              outline: none;
              border: none;
              background: none;
              color: #fff;
              font-size: 1.5rem;
              text-align: center;

              &::placeholder {
                color: $dark-600;
              }
            }
          }

          .set-complete-button {
            padding: 0.7rem 1rem;
            min-width: 8rem;
            height: auto;
            border-radius: 0.5rem;

            position: relative;
            margin-left: auto;

            background-color: $primary-300;
            outline: none;
            border: none;

            color: #fff;
            font-size: 1.4rem;
            user-select: none;

            &:hover {
              cursor: pointer;
              background-color: $primary-400;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    .started-workout-header {
      justify-content: space-between;

      h1 {
        font-size: 2.2rem;
      }

      .save-button {
        position: relative;
        right: none;
      }
    }
  }
}
