@import "../../Palette.scss";

.started-workout-container {
  position: relative;

  max-width: 75rem;
  width: 100%;
  height: 100rem;
  border-radius: 1rem;
  padding: 1rem;

  background-color: $dark-200;
  border: 3px solid $dark-200;

  overflow: hidden;

  .alice-carousel__stage-item {
    display: flex;
    justify-content: center;
  }

  .started-workout-set {
    display: flex;
    flex-direction: column;

    max-width: 60rem;
    width: 100%;
    height: auto;
    min-height: 18rem;
    border-radius: 1rem;

    gap: 1rem;

    background-color: $dark-400;
    overflow: hidden;

    .started-workout-set-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;

      padding: 0 1rem;
      padding-top: 1rem;

      .started-workout-set-image-container {
        width: 6rem;
        height: 6rem;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .started-workout-set-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      a {
        color: #fff;
        text-decoration: none;
        outline: none;

        h1 {
          font-size: 2rem;
          font-weight: 500;
        }

        &:hover,
        &:focus-visible {
          color: $primary-400;
        }
      }
    }

    .started-workout-set-seactions {
      width: 100%;

      display: flex;
      align-items: center;
      padding: 0 2rem;
      gap: 3rem;

      font-size: 1.4rem;
      font-weight: 500;
      color: #bbb;

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 3rem;
      }

      .started-workout-set-seaction-2 {
        width: 15rem;
      }
    }

    .started-workout-set-body {
      height: 100%;

      > :nth-child(even) {
        background-color: $dark-300;
      }

      .started-set {
        display: flex;
        align-items: center;
        padding: 0 2rem;
        gap: 3rem;

        height: 5rem;

        p {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 3rem;
        }

        .complete-inputs {
          width: 17rem;
          display: flex;
          justify-content: center;
          align-items: center;

          input {
            width: 5rem;
            outline: none;
            border: none;
            background: none;
            color: #fff;
            font-size: 1.5rem;
            text-align: center;
          }
        }
      }
    }
  }

  .prev-button,
  .next-button,
  .save-button,
  .set-complete-button {
    border: none;
    outline: none;
    background: none;
    color: #fff;
    cursor: pointer;

    background-color: $primary-300;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    font-size: 1.4rem;

    &:hover:not(:disabled),
    &:focus-visible {
      background-color: $primary-400;
      outline: 1px solid #fff;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: $primary-200;
    }
  }

  .save-button {
    position: absolute;
    margin: 2rem;
    right: 0;
    font-size: 1.5rem;
    padding: 0.5rem 10rem;
  }
}
