@import "../../Palette.scss";

.full-exercise-display {
  width: auto;
  min-height: 100rem;
  border-radius: 1rem;

  background-color: $dark-200;
  border: 3px solid $dark-200;
  overflow: hidden;
  
  .full-exercise-display-image {
    width: 100%;
    aspect-ratio: 2.5/1;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    img {
      height: 100%;
    }
  }
}
