@import "../../Palette.scss";

.profile {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100svh;
}

.profile-container {
    background-color: $dark-300;
    margin-right: calc(100% * 4 / 20);
}

.profile-user-container {

  & .profile-header {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & .profile-picture {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      background-color: $dark-500;
      overflow: hidden;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    .profile-user-information {
      width: calc(100% - 15rem);
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);

      & .profile-user-username {
        width: 95%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding-left: 5rem;
        font-size: 2.5rem;

        & .profile-user-settings{
            margin-top: 3rem;
            margin-left:  auto;  
            align-self: flex-start;
            cursor: pointer;
            transition: .5s;
            color: $primary-300;
            font-size: 3rem;
        }

        & .profile-user-settings:hover{
            font-size: 4rem;
            transform: rotate(180deg);
        }
      }

      & .profile-user-stats {
        width: 30rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5rem;
        font-size: 1.6rem;

        & .profile-user-stats-stat{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            & .profile-user-stats-name {
                color: $dark-600;
                font-size: 1.4rem;
            }

            & .profile-user-stats-num {
                font-size: 1.8rem;
            }
        }

        & .profile-user-stats-stat:hover{
            & .profile-user-stats-name {
                color: $primary-600;
            }
            & .profile-user-stats-num {
                color: $primary-600;
            }
        }
      }
    }
  }

  & .profile-edit-button {
    width: 12rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    background-color: $primary-300;
    color: white;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 550;
    transition: 0.2s ease-in;
    margin-left: 1.5rem;
  }
}
