@import "../../Palette.scss";

.profile {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
}

.profile-workouts-container {
  position: sticky;
  top: 0;
  padding: 5rem 3rem 0 3rem;
  height: 100svh;
  background-color: $dark-300;
  margin-right: calc(100% * 4 / 20);
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $dark-200;
  }

  &::-webkit-scrollbar-thumb {
    background: $dark-500;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $dark-600;
  }
}

.profile-workouts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-bottom: 1.2rem;

  & h1 {
    align-self: flex-end;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
  }

  & button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 6rem;
    height: 3rem;
    border-radius: 0.7rem;
    border: none;
    background-color: $primary-300;
    font-size: 1.4rem;
    color: white;

    & p {
      font-size: 1.25rem;
    }
  }

  & button:hover {
    background-color: $primary-400;
    cursor: pointer;
  }
}

.profile-workouts-search {
  width: 100%;
  height: 3.3rem;
  border: 2px solid $dark-200;
  border-radius: 0.6rem;
  background-color: $dark-400;

  & ::placeholder {
    color: $dark-200;
    font-weight: 500;
  }
}

.profile-workouts-items-container {
  margin-top: 1rem;
  width: 100%;
  height: auto;
  max-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  & div {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: .2rem;
    border: 2px solid $dark-200;
    border-radius: 0.5rem;
    padding: 0 0.5rem 0 0.5rem;
    font-size: 1.4rem;
    cursor: pointer;

    & img {
      width: auto;
      height: 100%;
      border-radius: 50%;
      margin-right: 1rem;
    }
  }
  & div:hover {
    background-color: $dark-400;
  }

  & .profile-workouts-show {
    align-self: flex-start;
    margin-top: 1rem;
    width: fit-content;
    padding: 0.8rem 1rem;
    background-color: $primary-300;
    border: none;
    border-radius: 0.3rem;
    color: white;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background-color: $primary-400;
    }
  }
}

.profile-user-container {
  & .profile-header {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & .profile-picture {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      background-color: $dark-500;
      overflow: hidden;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    .profile-user-information {
      width: calc(100% - 15rem);
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);

      & .profile-user-username {
        width: 95%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding-left: 5rem;
        font-size: 2.5rem;

        & .profile-user-settings {
          margin-top: 3rem;
          margin-left: auto;
          align-self: flex-start;
          cursor: pointer;
          transition: 0.65s ease;
          color: $primary-300;
          font-size: 3rem;
        }

        & .profile-user-settings:hover {
          scale: 1.3;
          transform: rotate(180deg);
        }
      }

      & .profile-user-stats {
        width: 30rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5rem;
        font-size: 1.6rem;

        & .profile-user-stats-stat {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          & .profile-user-stats-name {
            color: $dark-600;
            font-size: 1.4rem;
          }

          & .profile-user-stats-num {
            font-size: 1.8rem;
          }
        }

        & .profile-user-stats-stat:hover {
          & .profile-user-stats-name {
            color: $primary-600;
          }
          & .profile-user-stats-num {
            color: $primary-600;
          }
        }
      }
    }
  }

  & .profile-edit-button {
    width: 12rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    background-color: $primary-300;
    color: white;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 550;
    transition: 0.2s ease-in;
    margin-left: 1.5rem;
  }

  & .profile-edit-button:hover {
    background-color: $primary-400;
    box-shadow: 0.05rem 0.2rem 0.8rem black;
  }
}

.profile-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  & .workout-contribution-graph {
    width: 80%;
    height: 10rem;
    background-color: red;
    margin: 2rem 0 0 0;
  }
}