.window-wrapper {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  // backdrop-filter: blur(3px);
}

*:has(~ .window-wrapper),
*:has(~ .window-wrapper) * {
  // outline: 1px solid red;
  filter: blur(2px);
}
