@import "../../Palette.scss";

.follow-container {
  z-index: 5123;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40rem;
  min-height: 100svh;
  background-color: $dark-300;
  transition: 0.2s;

  .follow-container-header {
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 550;
    margin-top: 2rem;
  }

  .follow-container-search {
    width: 80%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 100%;
      height: 3rem;
      border-radius: 0.5rem;
      border: none;
      outline: none;
      padding: 0 1rem;
      font-size: 1.6rem;
      background-color: $dark-200;
      color: white;

      &::placeholder {
        color: $dark-600;
      }
    }
  }

  .follow-container-user {
    width: 100%;
    height: 6rem;
    padding: 0 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    &:hover {
      background-color: $dark-400;
    }

    img {
      width: 5rem;
    }
  }
}
