@import "../../../Palette.scss";

.privacy {
  min-height: 100%;
  & h3 {
    margin-bottom: 4rem;
  }

  .privacy-save-button {
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: $primary-300;
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 10rem;
    cursor: pointer;
    margin-bottom: 3rem;

    &:hover,
    &:active {
      background-color: $primary-400;
    }

    &:focus-visible {
      outline: 1px solid #fff;
      background-color: $primary-400;
    }
  }

  .privacy-show {
    width: 80rem;
    height: 60rem;
    visibility: 0;
    opacity: 1;
    z-index: 1;
  }

  .privacy-container {
    display: flex;
    align-items: center;
    width: 80%;
    border: 1px solid $dark-400;
    border-radius: 0.5rem;
    padding: 1.5rem 2rem 2rem 2rem;
    margin-bottom: 3rem;
  }

  .privacy-container-text {
    width: 85%;
    display: flex;
    flex-direction: column;

    & h3 {
      font-size: 2.2rem;
      font-weight: 500;
      margin-bottom: 0;
      margin-top: 0;
    }

    & p {
      font-size: 1.6rem;
      color: rgb(180, 180, 180);
    }
  }

  .privacy-container-text-header {
    display: flex;
    align-items: center;

    & .privacy-container-status-indicator {
      margin-left: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      min-width: 7rem;
      min-height: 2.5rem;
      border: 1px solid $primary-400;
      border-radius: 5rem;
      color: $primary-400;
      transition: 0.2s;
    }

    & .status-indicator-disabled {
      border-color: $dark-600;
      color: $dark-600;
    }
  }

  .privacy-container-button {
    min-width: 15%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .privacy-container-button-background {
      position: relative;
      min-width: 6rem;
      min-height: 2.5rem;
      background-color: $primary-200;
      border-radius: 5rem;
      overflow: hidden;
      cursor: pointer;

      display: block;
      border: none;
      outline: none;

      &:focus-visible {
        outline: 1px solid #fff;
        background-color: $primary-400;
      }

      & .privacy-container-button-icon {
        z-index: 1;
        position: absolute;
        min-width: 2.5rem;
        min-height: 2.5rem;
        background-color: white;
        border-radius: 50%;
        right: 0;
        top: 0;
        transition: 0.4s;
      }

      & .privacy-container-button-tail {
        position: absolute;
        min-width: 8rem;
        min-height: 3rem;
        background-color: $dark-400;
        top: -0.25rem;
        right: -7rem;
        transition: 0.4s;
      }

      & .button-disabled {
        transform: translate(-3.5rem);
      }
    }
  }
}
