@import "../../../../Palette.scss";

.choose-exercise {
  position: absolute;
  z-index: 1;
  background-color: $dark-200;
  width: 80rem;
  height: 50rem;
  transform: translate(-2rem, -1rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $dark-200;
  }

  &::-webkit-scrollbar-thumb {
    background: $dark-500;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $dark-600;
  }
}

.choose-exercise-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 8rem;
  border-bottom: 5px solid $dark-500;
  margin-bottom: 2rem;
}

.choose-exercise-body {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-exercise-filter {
  display: flex;
  width: 35rem;
  justify-content: space-between;
  align-items: center;
}

.choose-exercise-search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10rem;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;

  & .choose-exercise-search-bar-container {
    display: flex;
    width: 35rem;
    height: 3rem;
    align-items: center;
    background-color: $dark-300;
    border-radius: 0.5rem;

    & .choose-exercise-search-bar {
      background-color: $dark-300;
      border: none;
      outline: none;
      color: white;
      font-size: 1.6rem;
      height: 3rem;
      width: 31rem;
      border-radius: 0.5rem;
    }

    & .choose-exercise-search-bar-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      font-size: 2rem;

      &.arrow-right-icon {
        cursor: pointer;
        transition: all 100ms;

        &:hover {
          color: $primary-500;
        }
      }
    }
  }

  & .choose-exercise-filter-muscles-dropdown {
    border-radius: 2rem;
    width: 15rem;
    height: 3.5rem;
    color: white;
    background-color: $primary-300;

    & .dropdown-button {
      background-color: $primary-400;
      border-radius: 0.5rem;
    }

    & .dropdown-content {
      background-color: $primary-300;
      border-radius: 0 0 0.5rem 0.5rem;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: $primary-300;
        border-radius: 3rem;
      }

      &::-webkit-scrollbar-thumb {
        background: $primary-600;
        border-radius: 0px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $primary-500;
      }

      & :last-child {
        border-radius: 0 0 0.5rem 0.5rem;
      }

      & .dropdown-item:hover {
        background-color: $primary-400;
      }
    }
  }

  & .choose-exercise-filter-equipment-dropdown {
    border-radius: 2rem;
    width: 15rem;
    height: 3.5rem;
    color: white;
    background-color: $primary-300;

    & .dropdown-button {
      background-color: $primary-400;
      border-radius: 0.5rem;
    }

    & .dropdown-content {
      background-color: $primary-300;
      border-radius: 0 0 0.5rem 0.5rem;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: $primary-300;
        border-radius: 3rem;
      }

      &::-webkit-scrollbar-thumb {
        background: $primary-600;
        border-radius: 0px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $primary-500;
      }

      & :last-child {
        border-radius: 0 0 0.5rem 0.5rem;
      }

      & .dropdown-item:hover {
        background-color: $primary-400;
      }
    }
  }
}

.exercise-option {
  width: 80%;
  height: 8rem;
  display: flex;
  background-color: $dark-300;
  margin-bottom: 2rem;
  padding: 0.5rem 0 0.5rem 0;
  border-radius: 0.5rem;
  cursor: pointer;

  &.selected {
    background-color: $dark-400;
  }

  & .select-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 100%;
    border-right: 2px solid $dark-500;
    margin-right: 2rem;

    & div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: 2px solid $dark-500;

      & .select-circle-check {
        font-size: 2.2rem;
      }
    }
  }

  & .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.8rem;
    height: 7rem;
    width: 7rem;
    overflow: hidden;
    border-radius: 50%;
    transition: scale 0.2s;

    & img {
      margin-right: 1.8rem;
      height: 7rem;
    }
  }

  .big {
    scale: 2.5;
    z-index: 2;
  }

  & h3 {
    font-size: 2rem;
  }

  &:hover {
    background-color: $dark-400;
  }
}

.choose-exercise-footer {
  min-height: 8rem;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 5px solid $dark-500;
}

.choose-exercise-button {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 3rem;
  border-radius: 0.2rem;
  border: none;
  color: white;
  background-color: $primary-300;
  font-size: 1.6rem;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    background-color: $primary-200;
  }

  &:not(:disabled):hover {
    background-color: $primary-400;
  }
}

.choose-exercise-link-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-left: auto;
  width: 8rem;
  height: 100%;
  border-left: 2px solid $dark-500;

  & .choose-exercise-link-popup {
    position: absolute;
    display: flex;
    top: 1rem;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: $dark-300;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
  }

  .show {
    top: -1rem;
    width: 6rem;
    height: 2.5rem;
    font-size: 1.6rem;
    visibility: visible;
    opacity: 1;
  }
}
