@import "../../Palette.scss";

.navigation {
  position: fixed;
  top: 10svh;
  width: 13vw;
  height: 90svh;
  padding: 4rem 8rem 4rem 4rem;
  transform: translate(-100%, 0);

  display: grid;
  grid-template-rows: repeat(25, max-content);
  row-gap: 2rem;
  grid-template-columns: 2.8rem 1fr;
  grid-auto-flow: column;
  place-items: center start;

  background-color: #5c5c5c70;
  backdrop-filter: blur(10px);

  user-select: none;
  font-size: 1.8rem;

  .selection-indicator {
    grid-row: 1;
    grid-column: 1;
    user-select: none;
  }

  .navigation-item {
    cursor: pointer;
    grid-column-start: 1;
    grid-column-end: 3;
    color: #fff;
    text-decoration: none;

    &::before {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background-color: #fff;

      transform: translate(0, 2.5rem);
      transition: 175ms;
      transition-timing-function: ease-in-out;
    }

    &:not(.selected):hover::before {
      width: 80%;
    }

    &.selected {
      font-weight: bold;
      grid-column: 2;

      &::before {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .navigation {
    width: 40vw;
  }
}

@media screen and (max-width: 1024px) and (min-width: 450px) {
  .navigation {
    width: 25vw;
  }
}