@import "../../../Palette.scss";

.edit-profile {
  z-index: -1;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: 15rem;
  background-color: $dark-200;
  border-radius: 0.5rem;
  transition: 0.3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $dark-200;
  }

  &::-webkit-scrollbar-thumb {
    background: $dark-500;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $dark-600;
  }
}

.edit-profile-show {
  width: 80rem;
  height: 60rem;
  visibility: 0;
  opacity: 1;
  z-index: 1;
}

.edit-profile-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 2rem;

  & h3 {
    font-size: 2.8rem;
    font-weight: 500;
  }
}

.edit-profile-user-details {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 4rem;
  width: 80%;
  height: 10rem;
  background-color: $dark-300;
  border-radius: 1rem;
  font-weight: 450;
  padding: 0 2rem;
  font-size: 2.2rem;

  & .edit-profile-user-details-info-name {
    font-size: 2rem;
    color: $dark-600;
  }

  .image-buttons-container {
    display: flex;
    gap: 1rem;
    margin-left: auto;

    & button {
      position: relative;
      width: 12rem;
      height: 3.5rem;
      border-radius: 0.5rem;
      font-size: 1.4rem;
      outline: none;
      border: none;
      background-color: $primary-300;
      color: white;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        background-color: $primary-400;
      }
    }

    & .edit-profile-image-remove {
      aspect-ratio: 1;
      width: max-content;
    }
  }
}

.edit-profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  min-width: 10rem;
  min-height: 10rem;
  transition: 0.2s;
  overflow: hidden;
  cursor: pointer;
  margin-right: 1rem;

  & .edit-profile-image-trigger {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;

    & .edit-profile-image-input {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: 50%;
      cursor: pointer;
    }

    & .edit-profile-image-icon {
      font-size: 2rem;
      opacity: 0;
      filter: blur(5px);
      transition: 0.2s;
      color: $primary-300;
    }

    & .edit-profile-image-icon-hovered {
      opacity: 1;
      filter: none;
    }
  }

  & img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    background-color: white;
    border-radius: 50%;
    outline: 3px solid $dark-400;
  }
}

.edit-profile-image-hovered {
  filter: blur(5px) brightness(50%);
  cursor: pointer;
}

.edit-profile-username {
  margin-top: 3rem;
  width: 80%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 500;

  & h3 {
    user-select: none;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    margin-left: 0.6rem;
  }

  & .edit-profile-username-input {
    width: 100%;
    height: 5rem;
    background-color: transparent;
    outline: 1px solid $dark-400;
    border: none;

    &:has(:focus) {
      background-color: transparent;
      outline: 2px solid $dark-600;
    }

    & input {
      font-size: 1.8rem;
      &::placeholder {
        font-size: 1.8rem;
      }

      &:focus::placeholder {
        color: $dark-600;
      }
    }
  }
}

.edit-profile-bio {
  margin-top: 3rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.2rem;

  & h3 {
    user-select: none;
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-left: 0.6rem;
  }

  & .edit-profile-bio-textarea {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 1rem 1rem;
    font-size: 1.8rem;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: transparent;
    outline: 1px solid $dark-400;
    resize: none;
    color: white;
    overflow: hidden;
    margin-bottom: 3rem;

    &:focus {
      background-color: transparent;
      outline: 2px solid $dark-600;
    }

    &::placeholder {
      font-size: 1.8rem;
    }

    &:focus::placeholder {
      color: $dark-600;
    }
  }
}

.edit-profile-gender {
  user-select: false;
  position: relative;
  width: 25rem;
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20rem;
  background-color: $dark-400;
  overflow: hidden;

  & .edit-profile-gender-option {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    border-left: 2px solid $dark-300;
    cursor: pointer;

    & p {
      user-select: none;
      position: absolute;
      z-index: 10;
    }

    &:first-child {
      border: none;
    }
  }
}

.edit-profile-gender-background {
  position: absolute;
  height: 100%;
  width: calc(100% / 3);
  background-color: $dark-300;
  z-index: 0;
  transition: left 0.3s ease;
}

.edit-profile-gender-background.male {
  left: 0;
}

.edit-profile-gender-background.none {
  left: calc(100% / 3);
}

.edit-profile-gender-background.female {
  left: calc(100% / 3 * 2);
}

.edit-profile-save {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 14rem;
  min-height: 4rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  outline: none;
  border: none;
  background-color: $primary-300;
  color: white;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: $primary-400;
  }
}
