@import "../../../Palette.scss";

.edit-profile {
  z-index: -1;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: 15rem;
  background-color: $dark-200;
  border-radius: 0.5rem;
  transition: 0.3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $dark-200;
  }

  &::-webkit-scrollbar-thumb {
    background: $dark-500;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $dark-600;
  }
}

.edit-profile-show {
  width: 80rem;
  height: 60rem;
  visibility: 0;
  opacity: 1;
  z-index: 1;
}

.edit-profile-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 2rem;

  & h3 {
    font-size: 2.8rem;
    font-weight: 500;
  }
}

.edit-profile-image {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 25.3rem;
  height: 25.3rem;
  transition: 0.2s;
  cursor: pointer;

  & .edit-profile-image-trigger {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24.5rem;
    height: 24.5rem;
    border-radius: 50%;

    & .edit-profile-image-icon {
      font-size: 4rem;
      opacity: 0;
      filter: blur(5px);
      transition: 0.2s;
    }

    & .edit-profile-image-icon-hovered {
      opacity: 1;
      filter: none;
    }
  }

  & img {
    width: 25rem;
    background-color: white;
    border-radius: 50%;
    border: 3px solid $dark-400;
  }
}

.edit-profile-image-hovered {
  filter: blur(5px);
  cursor: pointer;
}

.edit-profile-username {
  margin-top: 3rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 450;

  & p {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    margin-left: 0.6rem;
  }

  & .edit-profile-username-input {
    width: 100%;
    height: 5rem;

    & input {
      font-size: 1.8rem;
      &::placeholder {
        font-size: 1.8rem;
      }
    }
  }
}

.edit-profile-bio {
  margin-top: 3rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 450;

  & p {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    margin-left: 0.6rem;
  }

  & .edit-profile-bio-textarea {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 1rem 1rem;
    font-size: 1.8rem;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: $dark-300;
    resize: none;
    color: white;
    overflow: hidden;
    margin-bottom: 3rem;

    &:focus {
      background-color: transparent;
      outline: 3px solid $dark-400;
    }

    &::placeholder {
      font-size: 1.8rem;
    }
  }
}
