@import "../../Palette.scss";

.split-creator-container {
  width: 80rem;
  max-width: 85vw;
  height: 50rem;
  max-height: 85svh;

  background-color: $dark-200;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;

  display: flex;
  flex-direction: column;
  transition: transform 0.4s, opacity 0.2s;

  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-gutter: stable both-edges;

  &,
  * {
    user-select: none;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $dark-200;
  }

  &::-webkit-scrollbar-thumb {
    background: $dark-500;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $dark-600;
  }

  &.invalid-exercise-selection .add-exercise-btn {
    background-color: red;

    &:hover {
      background-color: rgb(255, 100, 0);
    }
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .title {
      width: 36rem;
      height: 5rem;
      border: none;
      outline: none;
      background-color: transparent;
      color: white;
      cursor: pointer;
      font-size: 1.8rem;
      font-weight: 550;
      transition: 0.2s ease-in;
      border-bottom: 3px solid $dark-600;

      &:focus {
        border-bottom: 3px solid rgb(199, 199, 199);

        &::placeholder {
          color: rgb(199, 199, 198);
        }
      }

      &::placeholder {
        font-size: 1.8rem;
        transition: 0.2s ease-in;
      }

      &.invalid {
        border-color: rgb(255, 0, 0) !important;

        &::placeholder {
          color: red !important;
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 1rem;

      .split-visibility-toggle {
        cursor: pointer;
        display: flex;
        align-items: center;

        position: relative;
        font-size: 1.9rem;
        color: $dark-600;

        border: none;
        outline: none;
        background: none;
        border-radius: 0.3rem;

        min-width: max-content;
        min-height: max-content;
        aspect-ratio: 1;
        border: 1rem solid transparent;

        &:focus-visible {
          outline: 1px solid $primary-300;
        }
      }

      .save-btn,
      .discard-btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;

        width: max-content;
        height: max-content;
        padding: 1rem 1.5rem;

        border: none;
        outline: none;
        background-color: $primary-300;
        border-radius: 0.5rem;

        color: #fff;
        font-size: 1.7rem;
        font-weight: 100;

        &:hover,
        &:focus-visible {
          background-color: $primary-400;
        }

        &:focus-visible {
          outline: 2px solid #fff;
        }
      }

      .discard-btn {
        background-color: $primary-100;

        &:hover,
        &:focus-visible {
          background-color: $primary-200;
        }
      }
    }
  }

  .body {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .day-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .day-container:last-child {
      grid-column: 1 / -1;

      .day-container-wrapper:last-child {
        width: calc(100% / 2);
      }
    }

    .day-container-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 12rem;
      background-color: $dark-300;
      border-radius: 0.5rem;
      box-shadow: 6px 8px 15px $dark-100;

      h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 3rem;
        font-size: 2rem;
        font-weight: 500;
      }

      .workout {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .rest-icon {
        font-size: 3rem;
      }

      .rest {
        font-size: 2rem;
        font-weight: 400;
      }

      .day-container-button {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: transparent;
        border: 0;
        outline: 0;
        font-size: 2rem;
        color: $primary-400;
        font-weight: 500;
        cursor: pointer;
        transition: 0.2s;
      }

      .day-container-button:hover {
        background-color: $dark-300;
      }

      .hide {
        font-size: 0;
      }
    }
  }
}

.modal-portal:has(.split-creator-closing-modal-overlay) {
  opacity: 0;
  transition: 300ms;

  &:has(.open) {
    opacity: 1;
  }

  &:has(.closing) {
    opacity: 0;
  }

  .split-creator-closing-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(3px);

    .split-creator-closing-modal {
      background-color: $dark-100;
      position: fixed;

      top: 50%;
      left: 50%;

      width: max-content;
      height: max-content;
      padding: 3rem;
      border-radius: 1.5rem;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      transition: 250ms;
      transform: translate(-50%, -60%);

      &.open {
        transform: translate(-50%, -50%);
      }

      &.closing {
        transform: translate(-50%, -65%);
      }

      .split-creator-closing-modal-content-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;

        .modal-buttons-container {
          display: flex;
          justify-content: center;
          gap: 2rem;
          width: 100%;

          button {
            width: 10rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            color: #fff;

            outline: none;
            border: none;
            background-color: $primary-300;

            &:hover,
            &:focus-visible {
              background-color: $primary-500;
            }

            &:focus-visible {
              outline: 1px solid $primary-300;
            }
          }
        }
      }
    }
  }
}
