@import "../../../../Palette.scss";

.workout-comment-container {
  display: grid;
  grid-template-columns: 7fr 93fr;
  column-gap: 1.5rem;
  width: 100%;

  &.reply {
    font-size: 1.6rem;
  }

  &:not(.reply) {
    font-size: 1.8rem;
  }

  .image-container {
    width: 100%;

    img {
      max-width: 100%;
      aspect-ratio: auto;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    .header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.8em;
      font-weight: lighter;
      color: #aaa;

      .name {
        user-select: text;
        font-size: 1.05em;
        color: #fff;
        font-weight: bold;
      }

      .dot {
        font-size: 0.9em;
      }

      .date {
        user-select: text;
        font-size: 0.95em;
      }
    }

    .body * {
      user-select: text;
    }

    .footer {
      font-size: 1.2em;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 0.6rem;

      .footer-interaction-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        .like-container {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          justify-content: center;
          font-size: 0.9em;

          .like-btn {
            cursor: pointer;
            font-weight: normal;
            transition: 0.2s;

            &.active {
              color: $primary-300;
              font-weight: bold;
            }
          }
        }

        .reply-btn {
          cursor: pointer;
          font-size: 0.7em;

          display: flex;
          justify-content: center;
          align-items: center;

          background-color: transparent;
          border: none;
          outline: none;
          color: #fff;
        }
      }

      .reply-count-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        border-radius: 100rem;
        cursor: pointer;
        font-size: 1.6rem;

        * {
          vertical-align: middle;
        }
      }

      .comment-replies-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        padding-top: 1.25rem;

        .show-more {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1rem;
          cursor: pointer;
          font-size: 1.6rem;
        }
      }
    }
  }
}
