@import "../../../../Palette.scss";

.workout-comment-container {
  display: grid;
  grid-template-columns: 7fr 93fr;
  column-gap: 2rem;

  .image-container {
    width: fit-content;

    img {
      max-width: 100%;
      aspect-ratio: auto;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .header {
      display: flex;
      gap: 1rem;

      .body {
        font-size: 1.5rem;
      }

      .active {
        color: $primary-300;
        font-weight: bold;
      }
    }

    .footer {
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;

      .like-container {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        .like-btn {
          cursor: pointer;
          font-weight: normal;
          transition: 0.2s;

          &.active {
            color: $primary-300;
            font-weight: bold;
          }
        }
      }

      button {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
