@import "../../../Palette.scss";

.workout-display-item {
  position: relative;
  background-color: $dark-400;
  border-radius: 1.5rem;
  min-height: 19rem;
  height: fit-content;
  max-height: fit-content;
  padding-bottom: 3.5rem;
}

.workout-display-item-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6rem;
  padding: 0.5rem;

  & .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    margin-top: 1rem;

    & img {
      height: 6rem;
      width: auto;
    }
  }

  & p {
    margin-left: 1.5rem;
    font-size: 1.8rem;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      color: $primary-500;
    }
  }
}

.workout-display-item-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}