@import "../../../Palette.scss";

.workout-display-item {
  position: relative;
  background-color: $dark-400;
  border-radius: 1.5rem;
  overflow: hidden;
  height: fit-content;
  max-height: fit-content;

  .workout-display-item-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 6rem;
    padding: 0 0.5rem;
    margin: 0.5rem 0;

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: red;
      border-radius: 50%;
      height: 100%;
      aspect-ratio: 1;

      overflow: hidden;

      img {
        height: 6rem;
        width: auto;
      }
    }

    p {
      margin-left: 1.5rem;
      font-size: 1.8rem;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        color: $primary-500;
      }
    }
  }

  .workout-display-item-body {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    .set {
      height: 4.3rem;
      width: 100%;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      place-items: center;
      padding: 0 0.5rem;

      background-color: $dark-300;
      transition: background-color 250ms;

      .information-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        transition: opacity 150ms;
        transition: background-color 150ms;

        .set-type-dropdown-container {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          button {
            cursor: pointer;
            height: 100%;
            aspect-ratio: 1;

            font-size: 2rem;
            color: #fff;
            border-radius: 0.5rem;

            margin: 0;
            padding: 0;
            background: none;
            border: none;
            outline: none;

            &:hover,
            &:focus-visible {
              color: $primary-600;
            }

            &:focus-visible {
              outline: 1px solid $primary-300;
            }
          }
        }

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          background-color: initial;
          color: white;

          input {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 5rem;
            text-align: center;
            color: white;
            border: none;
            background-color: initial;
            outline: none;
            cursor: pointer;
            font-size: 2rem;
            margin: 0;
            padding: 0;
          }

          .set-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.8rem;
          }
        }
      }

      &:nth-child(even) {
        background-color: $dark-300;
      }

      &:nth-child(odd) {
        background-color: $dark-400;
      }
    }
  }

  .workout-display-item-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
