@import "../../Palette.scss";

.profile-header {
  width: fit-content;

  .profile-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: $dark-500;
    outline: 2px solid $dark-600;

    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .username-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .nickname {
      font-size: 2.5rem;
      color: #fff;
      font-weight: bold;
    }

    .username {
      font-size: 1.5rem;
      color: #aaa;
      font-weight: 100;
    }
  }

  .edit-profile-btn {
    width: 100%;
    margin: 0.5rem 0 0.25rem 0;

    background-color: $primary-300;
    transition: 100ms ease-out;
    cursor: pointer;

    border: none;
    border-radius: 0.5rem;
    outline: none;

    color: white;
    font-weight: 550;

    &:hover {
      background-color: $primary-400;
    }

    &:focus-visible {
      outline: 3px solid $primary-500;
    }
  }

  .stats-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    .followers-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.75rem;

      .stat:hover,
      .stat:hover .value {
        color: $primary-600;
        cursor: pointer;
      }

      .dot {
        font-size: 0.5em;
      }
    }

    .completed-workouts-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.75rem;
    }

    p.stat {
      color: $dark-600;
      font-weight: 100;
      font-size: 1.5rem;

      .value {
        color: #fff;
        font-weight: normal;
      }
    }
  }
}

@media screen and (max-width: 799.98px) {
  .profile-header {
    width: 100%;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 3rem repeat(4, auto);
    grid-template-areas:
      "pic ."
      "pic name"
      "pic stats"
      "pic ."
      "btn btn";

    row-gap: 1rem;
    column-gap: 1.5rem;
    place-items: center;

    .profile-picture-container {
      grid-area: pic;
      max-width: 15rem;
    }

    .username-container {
      grid-area: name;
      width: 100%;
    }

    .edit-profile-btn {
      grid-area: btn;
      height: 3.25rem;
      font-size: 1.5rem;
    }

    .stats-container {
      grid-area: stats;
      gap: 0.75rem;

      .followers-container {
        width: max-content;
      }

      .completed-workouts-container {
        &::before {
          content: "●";
          font-size: 0.5em;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .profile-header {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    .profile-picture-container {
      max-width: 20rem;
    }

    .username-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .edit-profile-btn {
      height: 3.75rem;
      font-size: 1.6rem;
    }

    .stats-container {
      flex-direction: column;
      gap: 0.85rem;

      .followers-container {
        width: 100%;
      }

      .completed-workouts-container {
        width: 100%;
      }
    }
  }
}
