@import "../../Palette.scss";

.workout-preview-display {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  border: 2px solid $dark-200;
  border-radius: 0.5rem;
  padding: 1rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25em;
    font-weight: bold;
    cursor: pointer;
  }

  .body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
    font-weight: normal;
  }

  .footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8em;
    font-weight: normal;
  }
}
