@import "../../Palette.scss";

.pins-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

  .pins-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 2rem;
      font-weight: 100;
    }

    button {
      font-size: 1.5rem;
      font-weight: 100;

      background: none;
      outline: none;
      border: none;
      color: #fff;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.modal-portal:has(.pins-options-menu-container) {
  opacity: 0;
  transition: 300ms;

  &:has(.open) {
    opacity: 1;
  }

  &:has(.closing) {
    opacity: 0;
  }

  .overlay-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(3px);

    .pins-options-menu-container {
      background-color: $dark-100;
      position: fixed;

      top: 50%;
      left: 50%;

      width: max-content;
      height: max-content;
      padding: 2rem;
      border-radius: 1.5rem;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      transition: 250ms;
      transform: translate(-50%, -60%);

      width: 40rem;

      .pins-options-menu-header {
        border-bottom: 1px solid $dark-600;
        margin-bottom: 1rem;
        padding-bottom: 1rem;

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h1 {
          font-size: 2rem;
          font-weight: 500;
        }

        p {
          font-weight: 100;
          font-size: 1.5rem;
          color: #aaa;
        }
      }

      .option {
        font-size: 1.7rem;
        padding: 0 1rem;
        cursor: pointer;

        display: grid;
        grid-template-columns: 1fr max-content;
        column-gap: 1rem;
        max-width: 100%;

        &:hover,
        &:has(:focus-visible) {
          background-color: $dark-300;
        }

        .checkbox-container {
          display: flex;
          align-items: center;
          max-width: 100%;

          input {
            margin: 1rem;
            color: $primary-300;
          }

          label {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
          }
        }

        .like-count-container {
          display: flex;
          align-items: center;
          gap: 0.75rem;
        }
      }

      .save-button {
        background-color: $primary-200;
        color: white;
        border: none;
        outline: none;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        font-weight: 100;
        cursor: pointer;

        &:hover, &:focus-visible {
          background-color: $primary-300;
          outline: 1px solid #fff;
        }
      }

      &.open {
        transform: translate(-50%, -50%);
      }

      &.closing {
        transform: translate(-50%, -65%);
      }
    }
  }
}
