@import "../../Palette.scss";

.workout-preview:not(.split-workout-preview) {
  font-size: 1rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 0.5rem;

  border: 2px solid $dark-200;
  border-radius: 0.5rem;
  padding: 1rem;

  width: 30rem;
  min-width: 30rem;
  max-width: 30rem;

  height: 13rem;
  min-height: 13rem;
  max-height: 13rem;
  font-size: 1.3rem;

  .workout-preview-header {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.33em;
    font-weight: bold;
    height: 3rem;

    .name {
      cursor: pointer;
    }
  }

  .workout-preview-body {
    grid-row: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1em;
    font-weight: normal;
  }

  .workout-preview-footer {
    grid-row: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.7em;
    font-weight: normal;
  }
}

.workout-preview.split-workout-preview {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  top: 0;

  .workout-preview-body {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: normal;
    overflow: hidden;

    .workout-preview-body-name {
      font-size: 2rem;
      color: #fff;
      text-decoration: none;
    }
  }

  .workout-preview-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: normal;
    height: 30%;
  }
}