@import "../../../Palette.scss";

.create-routine-window {
  &,
  * {
    user-select: none;
  }

  position: absolute;
  z-index: -5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%) scale(0.8);
  width: 80rem;
  height: 50rem;
  background-color: $dark-200;
  border-radius: 0.5rem;
  padding: 1rem 2rem 1rem 2rem;
  display: block;
  opacity: 0;
  transition: transform 0.4s, opacity 0.2s;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $dark-200;
  }

  &::-webkit-scrollbar-thumb {
    background: $dark-500;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $dark-600;
  }

  &.visible {
    z-index: 10;
    transform: translate(-50%, -45%) scale(1);
    opacity: 1;

    ~ * {
      transition: 0.4s;
      filter: blur(6px);
      pointer-events: none;
    }
  }

  &.no-scroll {
    overflow: hidden;
  }
}

.create-routine-header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  & #routine-title {
    width: 36rem;
    height: 5rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 550;
    transition: 0.2s ease-in;
    border-bottom: 3px solid $dark-600;

    &:focus {
      border-bottom: 3px solid rgb(199, 199, 199);
    }

    &::placeholder {
      font-size: 1.8rem;
      transition: 0.2s ease-in;
    }
    &:focus::placeholder {
      color: rgb(199, 199, 199);
    }
  }

  & .create-routine-public-or-private {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 3.75rem;
    margin-left: auto;
    font-size: 1.8rem;
    font-weight: 550;
    color: $dark-600;

    & .lock {
      cursor: pointer;
    }

    & .create-routine-public-or-private-popup {
      position: absolute;
      left: 0;
      z-index: -1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.5rem;
      height: 1.5rem;
      border: none;
      border-radius: 0.5rem;
      outline: none;
      background-color: $dark-600;
      color: $dark-100;
      font-size: 1.6rem;
      visibility: 0;
      opacity: 0;
      transition: 0.2s;
    }

    & .show {
      z-index: 1;
      visibility: visible;
      opacity: 1;
      left: -6rem;
      width: 7rem;
      height: 3rem;
    }
  }

  .routine-item-error-title {
    border-color: rgb(255, 0, 0) !important;

    &::placeholder {
      color: red !important;
    }
  }

  & .create-routine-save {
    width: 5.5rem;
    height: 3.75rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    background-color: $primary-300;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 550;

    &:hover {
      background-color: $primary-400;
    }
  }
}

.create-routine-body {
  width: 100%;
  min-height: calc(100% - 8rem);
  height: auto;
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  align-content: start;

  & > * {
    display: flex;
    flex-direction: column;
  }
}

.create-routine-add-exercise {
  justify-self: center;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23rem;
  height: 3rem;
  border-radius: 0.2rem;
  border: none;
  color: white;
  background-color: $primary-300;
  font-size: 1.6rem;
  cursor: pointer;

  &:hover {
    background-color: $primary-400;
  }
}

.routine-item-error-button {
  background-color: red;
}
