.admin-panel-link {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 1em;
  margin: 0;

  &::before {
    content: "";
    display: block;
    width: 0;
    height: 0.2rem;
    background-color: #fff;

    transform: translate(0, 2.5rem);
    transition: 175ms;
    transition-timing-function: ease-in-out;
  }

  &:not(.selected):hover::before {
    width: 80%;
  }
}
