@import "../../Palette.scss";

.exercise-chart-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;

  width: 90rem;
  aspect-ratio: 1.5 / 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: $dark-200;
  border-radius: 0.5rem;
  overflow: hidden;
}

.exercise-chart-header {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 2.8rem;
    font-weight: 500;
    color: #fff;
  }

  .exercise-chart-dropdown {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.exercise-chart {
  width: 100%;
  height: 90%;
}


@media screen and (max-width: 750px) {
  .exercise-chart-container {
    width: 100%;
    aspect-ratio: 1.5 / 1;
  }

  .exercise-chart-dropdown {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .exercise-chart {
    width: 100%;
    height: 90%;
  }
}