@import "../../Palette.scss";

.exercise-chart-container {
  background-color: $dark-200;

  .exercise-chart-container {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
  
    width: 80rem;
    max-width: 85vw;
    height: 50rem;
    max-height: 85svh;
  }
}