@import "./Palette.scss";

#page {
  width: 100%;
  max-width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10svh 1fr;

  font-size: 1.8rem;
  overflow-x: auto;

  #page-content {
    width: 100%;
    max-width: 100svw;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
