@import "./Palette.scss";

#page {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10svh 1fr;

  font-size: 1.8rem;

  #page-content {
    grid-row: 2;
    width: 100%;
  }

  & header {
    display: flex;
    align-items: center;
    background-color: $dark-400;
    grid-row: 1;
    width: 100%;
    padding: 0 4rem 0 4rem;

    & h1 {
      font-size: 2.6rem;
      margin-left: 2.4rem;
    }
  }
}

@media screen and (max-width: 425px) {
  header {
    padding: 0 2rem 0 2rem !important;
  }
}