@import "./Palette.scss";

#page {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10svh 1fr;

  #page-content {
    grid-row: 2;
    width: 100%;
  }

  & header {
    display: flex;
    align-items: center;
    background-color: $dark-400;
    grid-row: 1;
    width: 100%;
    padding: 0 2rem 0 2rem;

    & h1 {
      font-size: 1.8rem;
      margin-left: 10px;
    }
  }
}