/** SCSS DARK THEME PRIMARY COLORS */

$primary-100: #e3651d;
$primary-200:  #ea7738;
$primary-300:  #f08851;
$primary-400:  #f59a69; 
$primary-500:  #f9aa81;
$primary-600:  #fdbb99;  


/** SCSS DARK THEME DARK COLORS */  

$dark-100:  #191919;
$dark-200:  #2e2e2e;
$dark-300:  #444444;
$dark-400:  #5c5c5c;
$dark-500:  #757575;
$dark-600:  #8f8f8f;


/** SCSS DARK THEME MIXED DARK COLORS */

$dark-mixed-100:  #2c211b;
$dark-mixed-200:  #403630;
$dark-mixed-300:  #564c46;
$dark-mixed-400:  #6c635e;
$dark-mixed-500:  #837b77;
$dark-mixed-600:  #9a9490;


/*
Dark - 100: For body background color

Dark - 200: For cards background color

Dark - 300: For chips buttons, dropdowns background color

Dark - 400: For sidebars, navbar background color

Dark - 500: For modal, dialogs background color

Dark - 600: For on background texts color
*/