@import "../../../Palette.scss";

.login-container {
  position: relative;
  width: 35rem;
  height: 45rem;
  border-radius: 1rem;
  background-color: $dark-400;
  box-shadow: 0.5rem 2rem 5rem #000;
  overflow: hidden;

  & .login-heading {
    display: flex;
    justify-content: center;
    width: 100%;

    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    
    & label {
      margin: 6rem;
      cursor: pointer;
      transition: .5s ease-in-out;
    }
  }

  & .login-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5em;

    & .input-field {
      width: 80%;
      height: 5rem;
      border: none;
      border-radius: 0.5rem;
    }
  }

  & .login-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20%;
    width: 100%;

    & button {
      width: 16rem;
      height: 4.5rem;
      border-radius: 0.5rem;

      background-color: $dark-500;
      color: white;
      border: none;

      cursor: pointer;
      font-size: 1.8rem;
      font-weight: 550;
      transition: .2s ease-in;
    }

    & button:hover {
      background-color: $dark-600;
      box-shadow: 0.05rem .2rem .5rem #0000001b;
    }
  }
}

.login-not-active label{
  scale: .667;
}

@media screen and (min-width: 1920px) {
  .auth-container {
    width: 20%;
  }
}

@media screen and (max-width: 950px) {
    .auth-container {
      width: 40%;
      min-width: 250px;
    }
  }
