@import "../../Palette.scss";

.settings-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 32.5%;
    border-right: 2px solid $dark-300;
}

.settings-menu-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100%;
    font-size: 1.8rem;
    font-weight: normal;
    transition: 0.2s;
    cursor: pointer;

    &:first-child {
        border-radius: 0.5rem 0 0 0;
    }
}
