@import "../../Palette.scss";

.settings-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    min-height: 10rem;
    border-bottom: 2px solid $dark-300;
    border-radius: 10rem;
    transition: 0.5s;

    &:hover {
        border-color: $dark-400;
    }
}

.settings-menu-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 13rem;
    font-size: 1.6rem;
    font-weight: normal;
    transition: 0.2s;
    background-color: $dark-300;
    border-radius: 2rem;
    cursor: pointer;

    &:hover {
        background-color: $dark-400;
    }
}

.edit-profile-close-icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2.8rem;
    cursor: pointer;
  }