@import "../../Palette.scss";

.current-split-display-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  gap: 2rem;

  .workout {
    font-size: 1rem;

    &:not(.rest) {
      &.done {
        color: green;
      }

      &.skipped {
        color: red;
      }

      &.pending {
        color: $dark-200;
      }

      &.pending-today {
        color: blue;
      }
    }

    &.rest {
      cursor: default;

      &.passed {
        color: green;
      }

      &.scheduled {
        color: $dark-200;
      }

      &.scheduled-today {
        color: blue;
      }
    }

    color: #fff !important; //TODO: Remove
  }
}
