@import "../../Palette.scss";

@property --start-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --breakpoint-angle {
  syntax: "<angle>";
  initial-value: 300deg;
  inherits: false;
}

.current-split-display-container {
  width: fit-content;
  height: fit-content;
  max-width: 73rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .area-title {
      font-size: 1.5rem;
      pointer-events: none;
      user-select: none;
    }

    .name {
      font-size: 2rem;
      font-weight: 600;
      cursor: pointer;
    }

    .user-container {
      font-size: 1rem;
    }
  }

  .workouts-container {
    border: 4px solid $dark-200;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 2rem;
    gap: 2rem;
    padding: 1rem;
    max-width: fit-content;
    height: max-content;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      height: 3px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: $dark-500;
      border-radius: 10px;
    }

    .workout {
      position: relative;
      font-size: 1rem;
      background-color: $dark-100;

      &:not(.rest) {
        .footer::after {
          content: attr(data-day);
          font-size: 1.25rem;
          font-weight: 100;
          color: #aaa;
          transition: 150ms;
        }

        // & .footer:hover::after {
        //   color: #fff;
        //   font-weight: 300;
        // }

        &.done {
          color: green;
        }

        &.skipped {
          &::before {
            content: "skipped";
            text-transform: uppercase;
            font-weight: 900;
            font-size: 5rem;
            color: #f00;
            display: block;
            pointer-events: none;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-15deg);

            backdrop-filter: blur(0.3px);
            transition: 250ms;
          }

          &::after {
            content: "";
            display: block;
            background-color: rgba($color: #733, $alpha: 0.25);
            border: 3px solid rgba($color: #f00, $alpha: 0.1);
            border-radius: 0.5rem;
            width: 100%;
            height: 100%;
            pointer-events: none;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 150ms;
          }

          &:hover {
            &::before {
              opacity: 0;
            }

            &::after {
              opacity: 0.5;
            }
          }
        }

        &.pending {
          color: #aaa;
          transition: 100ms ease-out;

          &:hover {
            color: #fff;
          }
        }

        &.pending-today {
          &::after,
          &::before {
            transition: --breakpoint-angle 0.4s ease-in-out;
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            padding: 3px;

            border-radius: 0.5rem;

            background-image: conic-gradient(
              from var(--start-angle),
              transparent,
              var(--breakpoint-angle),
              rgb(125, 125, 228)
            );

            animation: 3s spin linear infinite;

            @keyframes spin {
              0% {
                --start-angle: 0deg;
              }

              25% {
                --start-angle: 90deg;
              }

              50% {
                --start-angle: 220deg;
              }

              90% {
                --start-angle: 310deg;
              }

              100% {
                --start-angle: 360deg;
              }
            }
          }

          &::before {
            filter: blur(1rem);
            opacity: 0.8;
          }

          &:hover::before,
          &:hover::after {
            animation-play-state: paused;
            --breakpoint-angle: 0deg;
          }
        }
      }

      &.rest {
        cursor: default;
        height: 100%;
        aspect-ratio: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 2rem;
        border: 2px solid $dark-200;
        border-radius: 0.5rem;
        padding: 1rem;

        p {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          gap: 0.5rem;

          &::after {
            content: attr(data-day);
            display: block;

            font-size: 1.25rem;
            font-weight: 100;
            color: #aaa;
            transition: 150ms;
          }
        }

        &.passed {
          color: #aaa;
          transition: 150ms;

          &:hover {
            color: #fff;
          }
        }

        &.scheduled {
          &::after,
          &::before {
            transition: --breakpoint-angle 0.4s ease-in-out 0s, filter 1.5s 0.2s;
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            padding: 3px;

            border-radius: 0.5rem;
          }

          &::before {
            animation: 5s spin-2 linear infinite;
            background-image: conic-gradient(
              from var(--start-angle),
              transparent,
              calc(var(--breakpoint-angle) + 30deg),
              rgb(71, 161, 64)
            );

            @keyframes spin-2 {
              from {
                --start-angle: 0deg;
              }

              to {
                --start-angle: 360deg;
              }
            }
          }

          &::after {
            animation: 5s spin-3 linear infinite;
            background-image: conic-gradient(
              from var(--start-angle),
              rgb(86, 86, 196),
              calc(330deg - var(--breakpoint-angle)),
              transparent
            );

            @keyframes spin-3 {
              from {
                --start-angle: 360deg;
              }

              to {
                --start-angle: 0deg;
              }
            }
          }

          &:hover::before,
          &:hover::after {
            --breakpoint-angle: 180deg;
            filter: blur(1rem);
          }
        }

        &.scheduled-today {
          &::after,
          &::before {
            transition: --breakpoint-angle 0.4s ease-in-out;
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            padding: 3px;

            border-radius: 0.5rem;

            background-image: conic-gradient(
              from var(--start-angle),
              transparent,
              var(--breakpoint-angle),
              rgb(125, 125, 228)
            );

            animation: 3s spin-4 linear infinite;

            @keyframes spin-4 {
              0% {
                --start-angle: 0deg;
              }

              100% {
                --start-angle: 360deg;
              }
            }
          }

          &::before {
            filter: blur(1rem);
            opacity: 0.8;
          }

          &:hover::before,
          &:hover::after {
            animation-play-state: paused;
            --breakpoint-angle: 0deg;
          }
        }
      }
    }
  }
}
